<div class="d-flex justify-content-center">
  <div class="card p-3 m-3 col-6">
    <div class="m-3">
      <h1><%= @list.name %></h1>
    </div>

      <div id="form">
        <%= simple_form_for(@list) do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

          <div class="form-inputs">
            <%= f.input :name %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Update List", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>

    <div id="links">
      <%= link_to "Back to #{@list.name}", list_path %>
      <%= link_to "Back to lists", lists_path %>
    </div>
  </div>
</div>
